.btn {
  display: inline-flex;
  padding: 15px 25px;

  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $color-default-white;
  letter-spacing: 0.05em;
  border-radius: 3px;

  background-color: $color-deep-sky-blue;
  color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--transparency {
    background-color: $color-transparent;
    border: 1px solid $color-alice-blue;
  }

  &--black {
    background-color: $color-black-peral-2;
    border: none;
  }

  &--blue {
    background-color: $color-transparent;
    color: $color-deep-sky-blue;
    border: 1px solid $color-deep-sky-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
